@mixin box-component {

  .box-component {

    padding-bottom: 0px;
    position: relative;
    grid-row: 2;
    display: flex;
    height: var(--height);

    width: var(--width);
    max-width: var(--max-width);
    flex-direction: column;
    border: 1px solid #E2E8EB;

    min-height: 276px;
    margin-bottom: 16px;
    margin-left: var(--margin-left-box);

    border-radius: 24px;
    background-color: white;



    & &:last-child {
      ul li:last-child {
        margin-top: -1px;
      }
    }


    & &__title {
      margin-left: var(--margin-large);
      margin-top: var(--margin-large-1);
      margin-bottom: 7px;
      margin-right: var(--margin-large);



      font-size: var(--h2-font-size);
      font-weight: 600;
      letter-spacing: var(--letter-space-big);
      color: var(--darkblue);
    }


    & &__text {

      margin-left: var(--margin-large);
      margin-right: 48px;
      margin-bottom: var(--margin-small);

      color: var(--light-color-font);
      letter-spacing: var(--letter-space-small);
      line-height: var(--text-line-height);
      margin-top: var(--margin-top-text);

      width: var(--text-width);


    }

    & &__list {

      margin-left: 55px;
      margin-right: 32px;
      list-style-image: url('./../../../../public/images/li.png');



      margin-top: var(--margin-top-list);

      & li {
        padding-left: 5px;
        letter-spacing: var(--letter-space-small);
        line-height: var(--text-line-height);
        margin-bottom: 8px;

      }

      & li:last-child {
        margin-bottom: var(--last-child-margin);
      }

    }

    & &__button {
      position: var(--button-position);
      left: var(--left);
      right: 31px;
      bottom: var(--bottom);
      width: var(--button-width);
      height: var(--button-height);
      background-color: var(--darkblue);
      color: white;
      border-radius: 16px;
      font-size: var(--small-font-size);
      letter-spacing: var(--letter-space-small);
      border: 1px solid transparent;
      display: var(--button-display);
      justify-content: center;
      align-items: center;
      align-self: center;
      transition: all 0.3s ease-in-out;
      //  margin-bottom: 32px;

    }

    & &__button:hover {
      cursor: pointer;
      background-color: #393850;
    }

    & &__button:active {
      background-color: #060613;
      transition: all 0.07s ease-in-out;
    }

    &.box-component--dark {
      background-color: var(--darkblue);
      color: white;

      & h2 {
        color: white;
      }

      & button {
        background-color: var(--purple);

      }

      & button:hover {
        cursor: pointer;
        background-color: #9180FF
      }

      & button:active {
        background-color: #6A53F4;
        transition: all 0.1s ease-in-out;
      }

      & ul {
        list-style-image: url('./../../../../public/images/li2.png');
      }
    }

    & .bottom-h {
      height: var(--bottom-h);
      margin-top: auto;
      width: 99%;
    }
  }
}