/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  height: auto;
  overflow: scroll;

  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  background-color: var(--off-white);;
}

* {
  margin: 0;
  padding: 0;
}